.xhq-link.link {
    font-size: 14px;
    font-weight: 400;
    color: #2b9be3;
    text-decoration: none;
    cursor: pointer;
    float: right;  
    align-items: center;
    margin-right: 25px;
    position: absolute;
    top: 5px;
    right: 40px;
  }

.xhq-modal{
  z-index: 50000;
}