# DO NOT SPECIFY AUTHENTICATION CREDENTIALS IN THIS FILE. It should only be used
# to configure registry sources.

registry=https://pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/ 
                        
always-auth=true