
.legend-container {
    height: 40%;
}

.container {
    max-width: 40em;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    display: none;
}  

.select-queries-label{
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    min-height: 27px;
    width: 100%;
    display: inline;
}
